In [8]:
import numpy as np
import pandas as pd
import csv
from mlxtend.preprocessing import TransactionEncoder
import time
from pyECLAT import ECLAT

## APRIORI

In [9]:
df = pd.read_csv(r"C:\\Users\\nhann\\Downloads\\basket_analysis.csv")
data = pd.DataFrame(df)
#small dataset
# data = df[:6]
# #large dataset
data = df
data

,Apple,Bread,Butter,Cheese,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Sugar,Unicorn,Yogurt,chocolate
0,False,True,False,False,True,True,False,True,False,False,False,False,True,False,True,True
1,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,True,False,True,False,False,True,False,True,False,True,False,False,False,False,True,True
3,False,False,True,True,False,True,False,False,False,True,True,True,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,False,True,False,False,False,False,True,False,False,False,False,False,False,True,False,True
995,True,False,False,False,True,False,False,False,True,True,True,False,False,False,True,False
996,True,False,False,False,True,True,False,False,False,False,False,False,True,False,False,True
997,False,False,True,True,True,False,True,True,True,False,True,False,True,False,True,True
998,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True

In [10]:
# Mlxtend Apriori Function runtime
start_time = time.time()
from mlxtend.frequent_patterns import apriori
frequent_itemsets = apriori(data, min_support = 0.1, use_colnames=True)
# Sort frequent itemsets by support in descending order
frequent_itemsets = frequent_itemsets.sort_values(by='support', ascending=False)
print("--- Total runtime of Apriori implementation is: %s seconds ---" % (time.time() - start_time))
frequent_itemsets

--- Total runtime of Apriori implementation is: 0.022646427154541016 seconds ---

      support                      itemsets
15   0.421421                   (chocolate)
2    0.420420                      (Butter)
14   0.420420                      (Yogurt)
7    0.410410                   (Ice cream)
12   0.409409                       (Sugar)
..        ...                           ...
136  0.100100        (Butter, Apple, Sugar)
155  0.100100       (Onion, Cheese, Nutmeg)
149  0.100100      (Yogurt, Butter, Nutmeg)
166  0.100100  (Milk, Kidney Beans, Nutmeg)
143  0.100100  (Unicorn, Butter, Ice cream)

[169 rows x 2 columns]

## FP-GROWTH

In [11]:
#Importing Libraries
from mlxtend.frequent_patterns import fpgrowth
#FP-growth algorithm runtime
start_time = time.time()
frequent_itemsets=fpgrowth(data,min_support=0.1, use_colnames=True)
# Sort frequent itemsets by support in descending order
frequent_itemsets = frequent_itemsets.sort_values(by='support', ascending=False)
print("--- Total runtime of Fp-Growth implementation is: %s seconds ---" % (time.time() - start_time))
frequent_itemsets

--- Total runtime of Fp-Growth implementation is: 0.12017130851745605 seconds ---

      support                      itemsets
0    0.421421                   (chocolate)
8    0.420420                      (Butter)
1    0.420420                      (Yogurt)
2    0.410410                   (Ice cream)
3    0.409409                       (Sugar)
..        ...                           ...
33   0.100100  (Yogurt, Corn, Kidney Beans)
94   0.100100        (Butter, Apple, Sugar)
129  0.100100  (Milk, Kidney Beans, Nutmeg)
130  0.100100      (Yogurt, Butter, Nutmeg)
148  0.100100  (Unicorn, Butter, Ice cream)

[169 rows x 2 columns]

## ECLAT

In [12]:
#process dataframe
df1 = pd.read_csv(r"C:\\Users\\nhann\\Downloads\\basket_analysis.csv")
df1_trans = df1.stack().reset_index()
df1_trans = df1_trans[df1_trans[0]] # filter out False values
df1_trans = df1_trans.drop(0, axis=1) # drop boolean column
df1_trans.columns = ['Transaction', 'Item'] # rename columns
df1_compressed = df1_trans.groupby('Transaction')['Item'].agg(lambda x: ','.join(sorted(set(x)))).reset_index()
df1_compressed.columns = ['Transaction', 'Items'] # rename columns
df1_compressed
data1 = pd.DataFrame(df1_compressed['Items'].str.split(',', expand=True))
data1

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Bread,Corn,Dill,Ice cream,Sugar,Yogurt,chocolate,None,None,None,None,None,None
1,Milk,None,None,None,None,None,None,None,None,None,None,None,None
2,Apple,Butter,Dill,Ice cream,Milk,Yogurt,chocolate,None,None,None,None,None,None
3,Butter,Cheese,Dill,Milk,Nutmeg,Onion,None,None,None,None,None,None,None
4,Apple,Bread,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Bread,Eggs,Unicorn,chocolate,None,None,None,None,None,None,None,None,None
995,Apple,Corn,Kidney Beans,Milk,Nutmeg,Yogurt,None,None,None,None,None,None,None
996,Apple,Corn,Dill,Sugar,chocolate,None,None,None,None,None,None,None,None
997,Butter,Cheese,Corn,Eggs,Ice cream,Kidney Beans,Nutmeg,Sugar,Yogurt,chocolate,None,None,None
998,Milk,chocolate,None,None,None,None,None,None,None,None,None,None,None

In [ ]:
from pyECLAT import ECLAT

start_time = time.time()
min_n_products = 1
min_support = 0.1
max_length = 13

# create an instance of eclat
my_eclat = ECLAT(data=data1, verbose=True)

# fit the algorithm
rule_indices, rule_supports = my_eclat.fit(min_support=min_support,
                                           min_combination=min_n_products,
                                           max_combination=max_length)
print("--- Total runtime of ECLAT is: %s seconds ---" % (time.time() - start_time))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 17/17 [00:00<00:00, 296.96it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 17/17 [00:00<00:00, 15775.04it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 17/17 [00:00<00:00, 1839.18it/s]

Combination 1 by 1

16it [00:00, 172.46it/s]

Combination 2 by 2

120it [00:00, 178.61it/s]

Combination 3 by 3

560it [00:02, 233.74it/s]

Combination 4 by 4

1820it [00:07, 242.39it/s]

Combination 5 by 5

4368it [00:20, 217.73it/s]

Combination 6 by 6

8008it [00:38, 210.73it/s]

Combination 7 by 7

11440it [00:59, 193.15it/s]

Combination 8 by 8

12870it [01:12, 177.96it/s]

Combination 9 by 9

4075it [00:27, 162.88it/s]

In [7]:
result = pd.DataFrame(rule_supports.items(),columns=['Item', 'Support'])
result
result.sort_values(by='Support', ascending=False)

                                                 Item   Support
1                                                Dill  0.666667
0                                               Bread  0.500000
21                                      Dill & Yogurt  0.500000
18                                   Dill & chocolate  0.500000
74              Dill & Ice cream & chocolate & Yogurt  0.500000
..                                                ...       ...
38                           Bread & Dill & chocolate  0.333333
37                           Bread & Dill & Ice cream  0.333333
36                                    Yogurt & Butter  0.333333
35                                    Cheese & Butter  0.333333
95  Dill & Ice cream & chocolate & Apple & Yogurt ...  0.333333

[96 rows x 2 columns]